<h1>Delete the /<%= folderName %>/ folder</h1>
<p>Are you sure about that?</p>
<form method="post">
	<input type="submit" value="Delete" />
</form>

<div>
	<p><a href="/<%= backPath %>">go back</a></p>
</div>
