<h1>Download the / <%= file.name %> / file</h1>
<p>Are you sure about that?</p>
<form method="post">
	<input type="submit" value="Download" />
</form>

<div>
	<p><a href="/<%= backPath %>">go back</a></p>
</div>
