<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>File Uploaded</title>
	</head>
	<body>
		<h1>You successfully uploaded a file!</h1>
		<p>Upload another file <a href="/upload/">UPLOAD</a></p>
		<p><a href="/">Go back to home</a></p>
	</body>
</html>
