<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<p>Hello World!</p>
		<% if (user) { %>
		<h1>WELCOME BACK <%= user.name %></h1>
		<p>Go to your files <a href="<%= "/" + user.id %>">FILES</a></p> </p>
		<p>Upload a new file <a href="/upload/">UPLOAD</a></p>
		<a href="/log-out">LOG OUT</a>
		<% } else { %>
		<h1>NO USER LOGGED</h1>
		<p>Please <a href="/log-in">LOG IN</a></p>
		<p>Or create a <a href="/sign-up">NEW USER</a></p>
		<% } %>
	</body>
</html>
