<h1>Here's your files, <%= user.name %></h1>
<div>
	<p>Add a new folder!</p>
	<form action="/addFolder" method="post">
		<label for="folderName">Name</label>
		<input type="text" name="folderName" id="folderName" />
		<input type="submit" value="Add" />
	</form>
</div>

<div>
	<h2>User folders and files</h2>
	<ul>
		<% folders.forEach((elem) => { %>
		<a href="<%= user.id %>/<%= elem.id %>"><li><%= elem.name %></li></a>
		<% }); %>
	</ul>
</div>

<div>
	<p><a href="\">go home</a></p>
</div>
